In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [2]:
df1 = pd.read_csv('/Users/ridhayneerajnathoo/Downloads/MagicBricks.csv')
df1.head()

,Area,BHK,Bathroom,Furnishing,Locality,Parking,Price,Status,Transaction,Type,Per_Sqft
0,800.0,3,2.0,Semi-Furnished,Rohini Sector 25,1.0,6500000,Ready_to_move,New_Property,Builder_Floor,NaN
1,750.0,2,2.0,Semi-Furnished,"J R Designers Floors, Rohini Sector 24",1.0,5000000,Ready_to_move,New_Property,Apartment,6667.0
2,950.0,2,2.0,Furnished,"Citizen Apartment, Rohini Sector 13",1.0,15500000,Ready_to_move,Resale,Apartment,6667.0
3,600.0,2,2.0,Semi-Furnished,Rohini Sector 24,1.0,4200000,Ready_to_move,Resale,Builder_Floor,6667.0
4,650.0,2,2.0,Semi-Furnished,Rohini Sector 24 carpet area 650 sqft status R...,1.0,6200000,Ready_to_move,New_Property,Builder_Floor,6667.0

In [3]:
df1.shape

(1259, 11)

In [4]:
df1.groupby('Type')['Type'].agg('count')

Type
Apartment        593
Builder_Floor    661
Name: Type, dtype: int64

In [5]:
df1.isnull().sum()

Area             0
BHK              0
Bathroom         2
Furnishing       5
Locality         0
Parking         33
Price            0
Status           0
Transaction      0
Type             5
Per_Sqft       241
dtype: int64

In [6]:
median_bathroom = df1['Bathroom'].median()
median_parking = df1['Parking'].median()

In [7]:
df2 = df1.copy()

In [8]:
df2['Parking'].fillna(median_parking, inplace = True)
df2['Bathroom'].fillna(median_bathroom, inplace = True)

In [11]:
df2.groupby('Furnishing')['Furnishing'].agg('count')

Furnishing
Furnished         183
Semi-Furnished    708
Unfurnished       363
Name: Furnishing, dtype: int64

In [12]:
df2['Furnishing'].fillna("Semi-Furnished", inplace=True)

In [13]:
df2.groupby('Type')['Type'].agg('count')

Type
Apartment        593
Builder_Floor    661
Name: Type, dtype: int64

In [14]:
df2['Type'].fillna("Builder_Floor", inplace=True)

In [15]:
df2['Per_Sqft'].fillna(df2.Area/df2.Price, inplace = True)

In [16]:
df2.isnull().sum()

Area           0
BHK            0
Bathroom       0
Furnishing     0
Locality       0
Parking        0
Price          0
Status         0
Transaction    0
Type           0
Per_Sqft       0
dtype: int64

In [17]:
len(df2['Locality'].unique())

365

In [18]:
location_stats = df2.groupby('Locality')['Locality'].agg('count').sort_values(ascending = False)
location_stats

Locality
Lajpat Nagar 3                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 34
Lajpat Nagar 2                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 33
J R Designers Floors, Rohini Sector 24                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         31
Kailash Colony, Greater Kailash                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                30
Yamuna Vihar, Shahdara                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         29
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               ..
Laxmi Nagar super area 450 sqft status Ready to Move floor 3 out of 4 floors transaction New Property furnishing Semi-Furnished facing East overlooking Main Road bathroom 2 balcony 1 ownership Freehold Newly Constructed Property East Facing Property This Builder Floor Apartment at 3rd faces East & overlooks Main Road offering a beautiful view from the house. with airy interiors. The type of ownership is Freehold. The Builder Floor Apartment is newly constructed. Bank loans available from LIC Housing Finance, Kotak Mahindra Bank, Indiabulls. Flooring of type Marble covers maximum part of the house. The location has easy access to, Dena Bank (0 km ), Delhi Convent School (0 km ), DDA Market (0 km ) and Nirman Vihar Metro Station (2 km ). read more Contact Owner View Phone No. Share Feedback Owner Sonia     1
Mahavir Enclave Part 1 carpet area 1000 sqft status Ready to Move floor 2 out of 4 floors transaction Resale furnishing Semi-Furnished facing East car parking 1 Covered bathroom 2 balcony 2 East Facing Property this property is for sale purpose.......................... Contact Owner View Phone No. Share Feedback Owner Twinkle Sudan                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  1
Mahesh Apartment, Vasundhara Enclave                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            1
Malviya Nagar carpet area 100 sqyrd status Ready to Move floor 2 out of 3 floors transaction Resale furnishing Semi-Furnished facing North overlooking Garden/Park, Main Road car parking 2 Open bathroom 3 balcony 2 ownership Freehold It's a Corner three story building, located in South Delhi. Amenities like Market, Schools, Hospitals, Parks, Gyms, Study Centers, Temple are all around. Very Close to Malviya Nagar Metro and Haus Khas Metro Station. Centerlize place to live. Whether you go to Gurgaon or Noida Or to other parts of the city, commuting from here is very easy. read more Contact Owner View Phone No. Share Feedback Owner Rohit                                                                                                                                                                               1
mind. The space is airy, is well located and can be easily customized as per the needs. Prime facilities are easily accessible from this place with Government Girls Senior Secondary School No 2 (0 km ). Other key neighbourhood are B Block Market (0 km ). read more Contact Owner View Phone No. Share Feedback Owner vinod kumar                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          1
Name: Locality, Length: 365, dtype: int64

In [19]:
len(location_stats[location_stats<=5])

309

In [20]:
location_stats_less_than_5 = location_stats[location_stats<=5]

In [21]:
location_stats_less_than_5

Locality
Panchsheel Vihar, Sheikh Sarai                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 5
Dilshad Garden                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 5
Uttam Nagar West                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               5
Arjun Nagar, Safdarjung Enclave                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                5
Vikram Vihar, Lajpat Nagar                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     5
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              ..
Laxmi Nagar super area 450 sqft status Ready to Move floor 3 out of 4 floors transaction New Property furnishing Semi-Furnished facing East overlooking Main Road bathroom 2 balcony 1 ownership Freehold Newly Constructed Property East Facing Property This Builder Floor Apartment at 3rd faces East & overlooks Main Road offering a beautiful view from the house. with airy interiors. The type of ownership is Freehold. The Builder Floor Apartment is newly constructed. Bank loans available from LIC Housing Finance, Kotak Mahindra Bank, Indiabulls. Flooring of type Marble covers maximum part of the house. The location has easy access to, Dena Bank (0 km ), Delhi Convent School (0 km ), DDA Market (0 km ) and Nirman Vihar Metro Station (2 km ). read more Contact Owner View Phone No. Share Feedback Owner Sonia    1
Mahavir Enclave Part 1 carpet area 1000 sqft status Ready to Move floor 2 out of 4 floors transaction Resale furnishing Semi-Furnished facing East car parking 1 Covered bathroom 2 balcony 2 East Facing Property this property is for sale purpose.......................... Contact Owner View Phone No. Share Feedback Owner Twinkle Sudan                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 1
Mahesh Apartment, Vasundhara Enclave                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           1
Malviya Nagar carpet area 100 sqyrd status Ready to Move floor 2 out of 3 floors transaction Resale furnishing Semi-Furnished facing North overlooking Garden/Park, Main Road car parking 2 Open bathroom 3 balcony 2 ownership Freehold It's a Corner three story building, located in South Delhi. Amenities like Market, Schools, Hospitals, Parks, Gyms, Study Centers, Temple are all around. Very Close to Malviya Nagar Metro and Haus Khas Metro Station. Centerlize place to live. Whether you go to Gurgaon or Noida Or to other parts of the city, commuting from here is very easy. read more Contact Owner View Phone No. Share Feedback Owner Rohit                                                                                                                                                                              1
mind. The space is airy, is well located and can be easily customized as per the needs. Prime facilities are easily accessible from this place with Government Girls Senior Secondary School No 2 (0 km ). Other key neighbourhood are B Block Market (0 km ). read more Contact Owner View Phone No. Share Feedback Owner vinod kumar                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         1
Name: Locality, Length: 309, dtype: int64

In [22]:
df3 = df2.copy()
df3.Locality = df3.Locality.apply(lambda x: 'other' if x in location_stats_less_than_5 else x)
len(df3.Locality.unique())

57

In [23]:
df3[df3.Area/df3.BHK < 200].head()

,Area,BHK,Bathroom,Furnishing,Locality,Parking,Price,Status,Transaction,Type,Per_Sqft
14,344.4448,2,2.0,Semi-Furnished,other,1.0,3310000,Ready_to_move,Resale,Builder_Floor,6154.0
28,28.0000,2,2.0,Furnished,other,1.0,5000000,Ready_to_move,New_Property,Apartment,8750.0
153,100.0000,3,2.0,Furnished,Budh Vihar Phase 1,1.0,4300000,Ready_to_move,New_Property,Builder_Floor,43000.0
157,75.0000,2,2.0,Semi-Furnished,Budh Vihar,1.0,3000000,Ready_to_move,Resale,Builder_Floor,40000.0
158,270.0000,2,1.0,Semi-Furnished,Budh Vihar Phase 1,1.0,1400000,Ready_to_move,Resale,Apartment,5185.0

In [27]:
len(df3[df3.Area/df3.BHK < 200])

41

In [107]:
df3

,Area,BHK,Bathroom,Furnishing,Locality,Parking,Price,Status,Transaction,Type,Per_Sqft
0,800.0,3,2.0,Semi-Furnished,other,1.0,6500000,Ready_to_move,New_Property,Builder_Floor,0.000123
1,750.0,2,2.0,Semi-Furnished,"J R Designers Floors, Rohini Sector 24",1.0,5000000,Ready_to_move,New_Property,Apartment,6667.000000
2,950.0,2,2.0,Furnished,other,1.0,15500000,Ready_to_move,Resale,Apartment,6667.000000
3,600.0,2,2.0,Semi-Furnished,Rohini Sector 24,1.0,4200000,Ready_to_move,Resale,Builder_Floor,6667.000000
4,650.0,2,2.0,Semi-Furnished,other,1.0,6200000,Ready_to_move,New_Property,Builder_Floor,6667.000000
...,...,...,...,...,...,...,...,...,...,...,...
1254,4118.0,4,5.0,Unfurnished,Chittaranjan Park,3.0,55000000,Ready_to_move,New_Property,Builder_Floor,12916.000000
1255,1050.0,3,2.0,Semi-Furnished,Chittaranjan Park,3.0,12500000,Ready_to_move,Resale,Builder_Floor,12916.000000
1256,875.0,3,3.0,Semi-Furnished,Chittaranjan Park,3.0,17500000,Ready_to_move,New_Property,Builder_Floor,12916.000000
1257,990.0,2,2.0,Unfurnished,other,1.0,11500000,Ready_to_move,Resale,Builder_Floor,12916.000000
1258,11050.0,3,3.0,Unfurnished,Chittaranjan Park,1.0,18500000,Ready_to_move,New_Property,Builder_Floor,12916.000000

In [108]:
df4 = df3[~(df3.Area/df3.BHK < 200)]
df4

,Area,BHK,Bathroom,Furnishing,Locality,Parking,Price,Status,Transaction,Type,Per_Sqft
0,800.0,3,2.0,Semi-Furnished,other,1.0,6500000,Ready_to_move,New_Property,Builder_Floor,0.000123
1,750.0,2,2.0,Semi-Furnished,"J R Designers Floors, Rohini Sector 24",1.0,5000000,Ready_to_move,New_Property,Apartment,6667.000000
2,950.0,2,2.0,Furnished,other,1.0,15500000,Ready_to_move,Resale,Apartment,6667.000000
3,600.0,2,2.0,Semi-Furnished,Rohini Sector 24,1.0,4200000,Ready_to_move,Resale,Builder_Floor,6667.000000
4,650.0,2,2.0,Semi-Furnished,other,1.0,6200000,Ready_to_move,New_Property,Builder_Floor,6667.000000
...,...,...,...,...,...,...,...,...,...,...,...
1254,4118.0,4,5.0,Unfurnished,Chittaranjan Park,3.0,55000000,Ready_to_move,New_Property,Builder_Floor,12916.000000
1255,1050.0,3,2.0,Semi-Furnished,Chittaranjan Park,3.0,12500000,Ready_to_move,Resale,Builder_Floor,12916.000000
1256,875.0,3,3.0,Semi-Furnished,Chittaranjan Park,3.0,17500000,Ready_to_move,New_Property,Builder_Floor,12916.000000
1257,990.0,2,2.0,Unfurnished,other,1.0,11500000,Ready_to_move,Resale,Builder_Floor,12916.000000
1258,11050.0,3,3.0,Unfurnished,Chittaranjan Park,1.0,18500000,Ready_to_move,New_Property,Builder_Floor,12916.000000

In [109]:
df4['Per_Sqft'].describe()

count      1218.000000
mean      12315.724979
std       19388.813508
min           0.000029
25%        3714.000000
50%        7789.000000
75%       15384.000000
max      183333.000000
Name: Per_Sqft, dtype: float64

In [110]:
def remove_pps_outliers(df):
    df_out = pd.DataFrame()
    for key, subdf in df.groupby('Locality'):
        m = np.mean(subdf.Per_Sqft)
        st = np.std(subdf.Per_Sqft)
        reduced_df = subdf[(subdf.Per_Sqft>(m-st)) & (subdf.Per_Sqft<=(m+st))]
        df_out = pd.concat([df_out, reduced_df], ignore_index=True)
    return df_out

df5 = remove_pps_outliers(df4)
df5.shape

(984, 11)

In [111]:
df6 = df5.drop('Per_Sqft', axis=1)
df6

,Area,BHK,Bathroom,Furnishing,Locality,Parking,Price,Status,Transaction,Type
0,1470.0,3,2.0,Semi-Furnished,"Aashirwaad Chowk, Dwarka",1.0,14500000,Ready_to_move,Resale,Apartment
1,1500.0,3,2.0,Semi-Furnished,"Aashirwaad Chowk, Dwarka",1.0,14900000,Ready_to_move,Resale,Apartment
2,1700.0,3,3.0,Semi-Furnished,"Aashirwaad Chowk, Dwarka",1.0,17200000,Ready_to_move,Resale,Apartment
3,1400.0,3,2.0,Unfurnished,Alaknanda,1.0,19000000,Ready_to_move,Resale,Apartment
4,1100.0,2,2.0,Unfurnished,Alaknanda,2.0,15000000,Ready_to_move,Resale,Apartment
...,...,...,...,...,...,...,...,...,...,...
979,1200.0,3,3.0,Semi-Furnished,other,1.0,22200000,Ready_to_move,New_Property,Builder_Floor
980,2430.0,4,4.0,Furnished,other,5.0,30000000,Ready_to_move,Resale,Builder_Floor
981,1350.0,3,2.0,Semi-Furnished,other,1.0,17500000,Ready_to_move,Resale,Builder_Floor
982,1800.0,3,3.0,Semi-Furnished,other,1.0,26000000,Ready_to_move,Resale,Builder_Floor
983,990.0,2,2.0,Unfurnished,other,1.0,11500000,Ready_to_move,Resale,Builder_Floor

In [144]:
df_dummies = pd.get_dummies(df6['Locality'], drop_first = True, dtype = int)

In [145]:
df_dummies

,Alaknanda,Budh Vihar,Budh Vihar Phase 1,Chhattarpur,Chhattarpur Enclave Phase2,Chittaranjan Park,"Common Wealth Games Village, Commonwealth Games Village 2010",Commonwealth Games Village 2010,"DDA Flats Sarita Vihar, Sarita Vihar, Mathura Road","DDA Lig Flats, Narela",...,Sheikh Sarai Phase 1,"Sukhdev Vihar, Okhla",Sultanpur,"The Amaryllis, Karol Bagh","The Leela Sky Villas, Patel Nagar",Uttam Nagar,Vasant Kunj,Vasundhara Enclave,"Yamuna Vihar, Shahdara",other
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
979,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
980,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
981,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
982,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
983,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [146]:
df6

,Area,BHK,Bathroom,Furnishing,Locality,Parking,Price,Status,Transaction,Type
0,1470.0,3,2.0,Semi-Furnished,"Aashirwaad Chowk, Dwarka",1.0,14500000,Ready_to_move,Resale,Apartment
1,1500.0,3,2.0,Semi-Furnished,"Aashirwaad Chowk, Dwarka",1.0,14900000,Ready_to_move,Resale,Apartment
2,1700.0,3,3.0,Semi-Furnished,"Aashirwaad Chowk, Dwarka",1.0,17200000,Ready_to_move,Resale,Apartment
3,1400.0,3,2.0,Unfurnished,Alaknanda,1.0,19000000,Ready_to_move,Resale,Apartment
4,1100.0,2,2.0,Unfurnished,Alaknanda,2.0,15000000,Ready_to_move,Resale,Apartment
...,...,...,...,...,...,...,...,...,...,...
979,1200.0,3,3.0,Semi-Furnished,other,1.0,22200000,Ready_to_move,New_Property,Builder_Floor
980,2430.0,4,4.0,Furnished,other,5.0,30000000,Ready_to_move,Resale,Builder_Floor
981,1350.0,3,2.0,Semi-Furnished,other,1.0,17500000,Ready_to_move,Resale,Builder_Floor
982,1800.0,3,3.0,Semi-Furnished,other,1.0,26000000,Ready_to_move,Resale,Builder_Floor
983,990.0,2,2.0,Unfurnished,other,1.0,11500000,Ready_to_move,Resale,Builder_Floor

In [147]:
df7 = pd.concat([df6.reset_index(drop=True), df_dummies.reset_index(drop=True)], axis=1)
df7

,Area,BHK,Bathroom,Furnishing,Locality,Parking,Price,Status,Transaction,Type,...,Sheikh Sarai Phase 1,"Sukhdev Vihar, Okhla",Sultanpur,"The Amaryllis, Karol Bagh","The Leela Sky Villas, Patel Nagar",Uttam Nagar,Vasant Kunj,Vasundhara Enclave,"Yamuna Vihar, Shahdara",other
0,1470.0,3,2.0,Semi-Furnished,"Aashirwaad Chowk, Dwarka",1.0,14500000,Ready_to_move,Resale,Apartment,...,0,0,0,0,0,0,0,0,0,0
1,1500.0,3,2.0,Semi-Furnished,"Aashirwaad Chowk, Dwarka",1.0,14900000,Ready_to_move,Resale,Apartment,...,0,0,0,0,0,0,0,0,0,0
2,1700.0,3,3.0,Semi-Furnished,"Aashirwaad Chowk, Dwarka",1.0,17200000,Ready_to_move,Resale,Apartment,...,0,0,0,0,0,0,0,0,0,0
3,1400.0,3,2.0,Unfurnished,Alaknanda,1.0,19000000,Ready_to_move,Resale,Apartment,...,0,0,0,0,0,0,0,0,0,0
4,1100.0,2,2.0,Unfurnished,Alaknanda,2.0,15000000,Ready_to_move,Resale,Apartment,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
979,1200.0,3,3.0,Semi-Furnished,other,1.0,22200000,Ready_to_move,New_Property,Builder_Floor,...,0,0,0,0,0,0,0,0,0,1
980,2430.0,4,4.0,Furnished,other,5.0,30000000,Ready_to_move,Resale,Builder_Floor,...,0,0,0,0,0,0,0,0,0,1
981,1350.0,3,2.0,Semi-Furnished,other,1.0,17500000,Ready_to_move,Resale,Builder_Floor,...,0,0,0,0,0,0,0,0,0,1
982,1800.0,3,3.0,Semi-Furnished,other,1.0,26000000,Ready_to_move,Resale,Builder_Floor,...,0,0,0,0,0,0,0,0,0,1
983,990.0,2,2.0,Unfurnished,other,1.0,11500000,Ready_to_move,Resale,Builder_Floor,...,0,0,0,0,0,0,0,0,0,1

In [148]:
df7.shape

(984, 65)

In [149]:
df8 = df7.drop('Locality', axis = 1)

In [150]:
df8.shape

(984, 64)

In [151]:
df8.groupby('Furnishing')['Furnishing'].agg('count')

Furnishing
Furnished         140
Semi-Furnished    556
Unfurnished       288
Name: Furnishing, dtype: int64

In [152]:
df9 = df8.copy()

In [153]:
df9['Furnishing'] = df9['Furnishing'].map({'Unfurnished':0, 'Semi-Furnished':1, 'Furnished':2})

In [154]:
df9['Furnishing']

0      1
1      1
2      1
3      0
4      0
      ..
979    1
980    2
981    1
982    1
983    0
Name: Furnishing, Length: 984, dtype: int64

In [155]:
df9

,Area,BHK,Bathroom,Furnishing,Parking,Price,Status,Transaction,Type,Alaknanda,...,Sheikh Sarai Phase 1,"Sukhdev Vihar, Okhla",Sultanpur,"The Amaryllis, Karol Bagh","The Leela Sky Villas, Patel Nagar",Uttam Nagar,Vasant Kunj,Vasundhara Enclave,"Yamuna Vihar, Shahdara",other
0,1470.0,3,2.0,1,1.0,14500000,Ready_to_move,Resale,Apartment,0,...,0,0,0,0,0,0,0,0,0,0
1,1500.0,3,2.0,1,1.0,14900000,Ready_to_move,Resale,Apartment,0,...,0,0,0,0,0,0,0,0,0,0
2,1700.0,3,3.0,1,1.0,17200000,Ready_to_move,Resale,Apartment,0,...,0,0,0,0,0,0,0,0,0,0
3,1400.0,3,2.0,0,1.0,19000000,Ready_to_move,Resale,Apartment,1,...,0,0,0,0,0,0,0,0,0,0
4,1100.0,2,2.0,0,2.0,15000000,Ready_to_move,Resale,Apartment,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
979,1200.0,3,3.0,1,1.0,22200000,Ready_to_move,New_Property,Builder_Floor,0,...,0,0,0,0,0,0,0,0,0,1
980,2430.0,4,4.0,2,5.0,30000000,Ready_to_move,Resale,Builder_Floor,0,...,0,0,0,0,0,0,0,0,0,1
981,1350.0,3,2.0,1,1.0,17500000,Ready_to_move,Resale,Builder_Floor,0,...,0,0,0,0,0,0,0,0,0,1
982,1800.0,3,3.0,1,1.0,26000000,Ready_to_move,Resale,Builder_Floor,0,...,0,0,0,0,0,0,0,0,0,1
983,990.0,2,2.0,0,1.0,11500000,Ready_to_move,Resale,Builder_Floor,0,...,0,0,0,0,0,0,0,0,0,1

In [156]:
df9['Status'].unique()

array(['Ready_to_move', 'Almost_ready'], dtype=object)

In [157]:
df10 = df9.copy()
df10['Status'] = df10['Status'].map({'Ready_to_move':0, 'Almost_ready':1})
df10

,Area,BHK,Bathroom,Furnishing,Parking,Price,Status,Transaction,Type,Alaknanda,...,Sheikh Sarai Phase 1,"Sukhdev Vihar, Okhla",Sultanpur,"The Amaryllis, Karol Bagh","The Leela Sky Villas, Patel Nagar",Uttam Nagar,Vasant Kunj,Vasundhara Enclave,"Yamuna Vihar, Shahdara",other
0,1470.0,3,2.0,1,1.0,14500000,0,Resale,Apartment,0,...,0,0,0,0,0,0,0,0,0,0
1,1500.0,3,2.0,1,1.0,14900000,0,Resale,Apartment,0,...,0,0,0,0,0,0,0,0,0,0
2,1700.0,3,3.0,1,1.0,17200000,0,Resale,Apartment,0,...,0,0,0,0,0,0,0,0,0,0
3,1400.0,3,2.0,0,1.0,19000000,0,Resale,Apartment,1,...,0,0,0,0,0,0,0,0,0,0
4,1100.0,2,2.0,0,2.0,15000000,0,Resale,Apartment,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
979,1200.0,3,3.0,1,1.0,22200000,0,New_Property,Builder_Floor,0,...,0,0,0,0,0,0,0,0,0,1
980,2430.0,4,4.0,2,5.0,30000000,0,Resale,Builder_Floor,0,...,0,0,0,0,0,0,0,0,0,1
981,1350.0,3,2.0,1,1.0,17500000,0,Resale,Builder_Floor,0,...,0,0,0,0,0,0,0,0,0,1
982,1800.0,3,3.0,1,1.0,26000000,0,Resale,Builder_Floor,0,...,0,0,0,0,0,0,0,0,0,1
983,990.0,2,2.0,0,1.0,11500000,0,Resale,Builder_Floor,0,...,0,0,0,0,0,0,0,0,0,1

In [158]:
df10['Transaction'].unique()

array(['Resale', 'New_Property'], dtype=object)

In [159]:
df11 = df10.copy()
df11['Transaction'] = df11['Transaction'].map({'Resale':0, 'New_Property':1})
df11

,Area,BHK,Bathroom,Furnishing,Parking,Price,Status,Transaction,Type,Alaknanda,...,Sheikh Sarai Phase 1,"Sukhdev Vihar, Okhla",Sultanpur,"The Amaryllis, Karol Bagh","The Leela Sky Villas, Patel Nagar",Uttam Nagar,Vasant Kunj,Vasundhara Enclave,"Yamuna Vihar, Shahdara",other
0,1470.0,3,2.0,1,1.0,14500000,0,0,Apartment,0,...,0,0,0,0,0,0,0,0,0,0
1,1500.0,3,2.0,1,1.0,14900000,0,0,Apartment,0,...,0,0,0,0,0,0,0,0,0,0
2,1700.0,3,3.0,1,1.0,17200000,0,0,Apartment,0,...,0,0,0,0,0,0,0,0,0,0
3,1400.0,3,2.0,0,1.0,19000000,0,0,Apartment,1,...,0,0,0,0,0,0,0,0,0,0
4,1100.0,2,2.0,0,2.0,15000000,0,0,Apartment,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
979,1200.0,3,3.0,1,1.0,22200000,0,1,Builder_Floor,0,...,0,0,0,0,0,0,0,0,0,1
980,2430.0,4,4.0,2,5.0,30000000,0,0,Builder_Floor,0,...,0,0,0,0,0,0,0,0,0,1
981,1350.0,3,2.0,1,1.0,17500000,0,0,Builder_Floor,0,...,0,0,0,0,0,0,0,0,0,1
982,1800.0,3,3.0,1,1.0,26000000,0,0,Builder_Floor,0,...,0,0,0,0,0,0,0,0,0,1
983,990.0,2,2.0,0,1.0,11500000,0,0,Builder_Floor,0,...,0,0,0,0,0,0,0,0,0,1

In [160]:
df11['Type'].unique()

array(['Apartment', 'Builder_Floor'], dtype=object)

In [161]:
df12 = df11.copy()
df12['Type'] = df12['Type'].map({'Apartment':0, 'Builder_Floor':1})
df12

,Area,BHK,Bathroom,Furnishing,Parking,Price,Status,Transaction,Type,Alaknanda,...,Sheikh Sarai Phase 1,"Sukhdev Vihar, Okhla",Sultanpur,"The Amaryllis, Karol Bagh","The Leela Sky Villas, Patel Nagar",Uttam Nagar,Vasant Kunj,Vasundhara Enclave,"Yamuna Vihar, Shahdara",other
0,1470.0,3,2.0,1,1.0,14500000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1500.0,3,2.0,1,1.0,14900000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1700.0,3,3.0,1,1.0,17200000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1400.0,3,2.0,0,1.0,19000000,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,1100.0,2,2.0,0,2.0,15000000,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
979,1200.0,3,3.0,1,1.0,22200000,0,1,1,0,...,0,0,0,0,0,0,0,0,0,1
980,2430.0,4,4.0,2,5.0,30000000,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
981,1350.0,3,2.0,1,1.0,17500000,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
982,1800.0,3,3.0,1,1.0,26000000,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
983,990.0,2,2.0,0,1.0,11500000,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1

In [162]:
X=df12.drop('Price', axis=1)
X.head()

,Area,BHK,Bathroom,Furnishing,Parking,Status,Transaction,Type,Alaknanda,Budh Vihar,...,Sheikh Sarai Phase 1,"Sukhdev Vihar, Okhla",Sultanpur,"The Amaryllis, Karol Bagh","The Leela Sky Villas, Patel Nagar",Uttam Nagar,Vasant Kunj,Vasundhara Enclave,"Yamuna Vihar, Shahdara",other
0,1470.0,3,2.0,1,1.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1500.0,3,2.0,1,1.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1700.0,3,3.0,1,1.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1400.0,3,2.0,0,1.0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,1100.0,2,2.0,0,2.0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [163]:
Y = df12['Price']

In [164]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=10)

In [165]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train, Y_train)
lr.score(X_test, Y_test)

0.793594051390152

In [166]:
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score
cv = ShuffleSplit(n_splits = 10, test_size = 0.2, random_state=0)
cross_val_score(LinearRegression(), X, Y, cv = cv)

array([0.76166976, 0.78002658, 0.74584639, 0.75213585, 0.74167067,
       0.79877883, 0.60701847, 0.78333418, 0.73292009, 0.67225702])

In [173]:
from sklearn.model_selection import GridSearchCV

from sklearn.linear_model import Lasso
from sklearn.tree import DecisionTreeRegressor

def find_best_model(X,Y):
    algos = {
        'linear_regression':{
            'model':LinearRegression(),
            'params':{
                'copy_X':[True, False],
                'fit_intercept':[True, False],
                'n_jobs':[-1],
                'positive':[True, False]
            }
        },
        
        'lasso':{
            'model':Lasso(),
            'params':{
                'alpha':[1,2],
                'selection':['random', 'cyclic']
            }
        },
        
        'decision_tree':{
            'model':DecisionTreeRegressor(),
            'params':{
                'criterion':['mse', 'friedman_mse'],
                'splitter':['best','random']
            }
        }
    }
    scores =[]
    cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)
    for algo_name, config in algos.items():
        gs = GridSearchCV(config['model'], config['params'], cv=cv, return_train_score=False)
        gs.fit(X,Y)
        scores.append({
            'model': algo_name,
            'best_score':gs.best_score_,
            'best_params':gs.best_params_
            })
    return pd.DataFrame(scores, columns=['model', 'best_score', 'best_params'])

In [174]:
find_best_model(X,Y)

/Users/ridhayneerajnathoo/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 4.010e+16, tolerance: 3.619e+13
  model = cd_fast.enet_coordinate_descent(
/Users/ridhayneerajnathoo/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 4.094e+16, tolerance: 3.620e+13
  model = cd_fast.enet_coordinate_descent(
/Users/ridhayneerajnathoo/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 4.361e+16, tolerance: 4.109e+13
  model = cd_fast.enet_coordinate_descent(
/Users/ridhayneerajnathoo/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 4.440e+16, tolerance: 4.124e+13
  model = cd_fast.enet_coordinate_descent(
/Users/ridhayneerajnathoo/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 4.246e+16, tolerance: 4.020e+13
  model = cd_fast.enet_coordinate_descent(
/Users/ridhayneerajnathoo/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.055e+16, tolerance: 3.619e+13
  model = cd_fast.enet_coordinate_descent(
/Users/ridhayneerajnathoo/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.053e+16, tolerance: 3.620e+13
  model = cd_fast.enet_coordinate_descent(
/Users/ridhayneerajnathoo/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.236e+16, tolerance: 4.109e+13
  model = cd_fast.enet_coordinate_descent(
/Users/ridhayneerajnathoo/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 3.862e+16, tolerance: 4.124e+13
  model = cd_fast.enet_coordinate_descent(
/Users/ridhayneerajnathoo/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 3.983e+16, tolerance: 4.020e+13
  model = cd_fast.enet_coordinate_descent(
/Users/ridhayneerajnathoo/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 4.009e+16, tolerance: 3.619e+13
  model = cd_fast.enet_coordinate_descent(
/Users/ridhayneerajnathoo/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 4.084e+16, tolerance: 3.620e+13
  model = cd_fast.enet_coordinate_descent(
/Users/ridhayneerajnathoo/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 4.332e+16, tolerance: 4.109e+13
  model = cd_fast.enet_coordinate_descent(
/Users/ridhayneerajnathoo/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 4.440e+16, tolerance: 4.124e+13
  model = cd_fast.enet_coordinate_descent(
/Users/ridhayneerajnathoo/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 4.278e+16, tolerance: 4.020e+13
  model = cd_fast.enet_coordinate_descent(
/Users/ridhayneerajnathoo/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 4.718e+15, tolerance: 3.619e+13
  model = cd_fast.enet_coordinate_descent(
/Users/ridhayneerajnathoo/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 4.709e+15, tolerance: 3.620e+13
  model = cd_fast.enet_coordinate_descent(
/Users/ridhayneerajnathoo/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 5.656e+15, tolerance: 4.109e+13
  model = cd_fast.enet_coordinate_descent(
/Users/ridhayneerajnathoo/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 3.387e+16, tolerance: 4.124e+13
  model = cd_fast.enet_coordinate_descent(
/Users/ridhayneerajnathoo/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 3.672e+16, tolerance: 4.020e+13
  model = cd_fast.enet_coordinate_descent(
/Users/ridhayneerajnathoo/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 5.682e+16, tolerance: 5.199e+13
  model = cd_fast.enet_coordinate_descent(
/Users/ridhayneerajnathoo/anaconda3/lib/python3.11/site-packages/sklearn/model_selection/_validation.py:425: FitFailedWarning:
10 fits failed out of a total of 20.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
10 fits failed with the following error:
Traceback (most recent call last):
  File "/Users/ridhayneerajnathoo/anaconda3/lib/python3.11/site-packages/sklearn/model_selection/_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/Users/ridhayneerajnathoo/anaconda3/lib/python3.11/site-packages/sklearn/base.py", line 1144, in wrapper
    estimator._validate_params()
  File "/Users/ridhayneerajnathoo/anaconda3/lib/python3.11/site-packages/sklearn/base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "/Users/ridhayneerajnathoo/anaconda3/lib/python3.11/site-packages/sklearn/utils/_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of DecisionTreeRegressor must be a str among {'squared_error', 'friedman_mse', 'absolute_error', 'poisson'}. Got 'mse' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
/Users/ridhayneerajnathoo/anaconda3/lib/python3.11/site-packages/sklearn/model_selection/_search.py:976: UserWarning: One or more of the test scores are non-finite: [       nan        nan 0.76934325 0.72447272]
  warnings.warn(

,model,best_score,best_params
0,linear_regression,0.757182,"{'copy_X': True, 'fit_intercept': True, 'n_job..."
1,lasso,0.756275,"{'alpha': 1, 'selection': 'random'}"
2,decision_tree,0.769343,"{'criterion': 'friedman_mse', 'splitter': 'best'}"

# Price Prediction

In [180]:
X.columns

np.where(X.columns=='Alaknanda')[0][0]

8

In [187]:
def predict_price(Area, BHK, bathroom, Furnishing, Parking, Status, Transaction, Type, location):
    loc_index = np.where(X.columns==location)[0][0]
    x = np.zeros(len(X.columns))
    x[0] = Area
    x[1] = BHK
    x[2] = bathroom
    x[3] = Furnishing
    x[4] = Parking
    x[5] = Status
    x[6] = Transaction
    x[7] = Type
    if loc_index >= 0:
        x[loc_index] = 1
    return lr.predict([x])[0]

In [188]:
predict_price(1000, 2, 2, 1, 2, 1, 1, 1, 'Alaknanda')

/Users/ridhayneerajnathoo/anaconda3/lib/python3.11/site-packages/sklearn/base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

21298835.04185497

In [189]:
X.columns

Index(['Area', 'BHK', 'Bathroom', 'Furnishing', 'Parking', 'Status',
       'Transaction', 'Type', 'Alaknanda', 'Budh Vihar', 'Budh Vihar Phase 1',
       'Chhattarpur', 'Chhattarpur Enclave Phase2', 'Chittaranjan Park',
       'Common Wealth Games Village, Commonwealth Games Village 2010',
       'Commonwealth Games Village 2010',
       'DDA Flats Sarita Vihar, Sarita Vihar, Mathura Road',
       'DDA Lig Flats, Narela',
       'DLF Capital Greens, New Moti Nagar, Kirti Nagar',
       'Dilshad Colony, Dilshad Garden', 'Geetanjali Enclave, Malviya Nagar',
       'Godrej South Estate, Okhla', 'Govindpuri Extension, Kalkaji',
       'Hauz Khas', 'Hauz Khas Enclave, Hauz Khas',
       'J R Designers Floors, Rohini Sector 24',
       'Kailash Colony, Greater Kailash', 'Kalkaji', 'Karol Bagh',
       'Lajpat Nagar', 'Lajpat Nagar 2', 'Lajpat Nagar 3', 'Laxmi Nagar',
       'Maharani Bagh, New Friends Colony', 'Mahavir Enclave',
       'Mahavir Enclave Part 1', 'Malviya Nagar', 'Mehrauli', 'Narela',
       'Narmada Apartment, Alaknanda', 'New Friends Colony',
       'New Manglapuri, Sultanpur', 'New Moti Nagar, Kirti Nagar',
       'Nilgiri Apartment, Alaknanda', 'Paschim Vihar',
       'Patel Nagar East, Patel Nagar', 'Patel Nagar West',
       'Project Commonwealth Games Village 2010, Commonwealth Games Village 2010',
       'Punjabi Bagh West', 'Rohini Sector 24', 'Safdarjung Enclave', 'Saket',
       'Shahdara', 'Sheikh Sarai Phase 1', 'Sukhdev Vihar, Okhla', 'Sultanpur',
       'The Amaryllis, Karol Bagh', 'The Leela Sky Villas, Patel Nagar',
       'Uttam Nagar', 'Vasant Kunj', 'Vasundhara Enclave',
       'Yamuna Vihar, Shahdara', 'other'],
      dtype='object')

In [194]:
predict_price(624, 3, 2, 1, 0, 1, 1, 1, 'Rohini Sector 24')

/Users/ridhayneerajnathoo/anaconda3/lib/python3.11/site-packages/sklearn/base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

9038958.701671503

# creating a pickle file of the model to export it

In [195]:
import pickle
with open('Delhi_house_price_prediction.pickle', 'wb') as f:
    pickle.dump(lr,f)

In [196]:
import json
columns = {
    'data_columns':[col.lower() for col in X.columns]
}
with open('Columns.json', 'w') as f:
    f.write(json.dumps(columns))